.featA{
background: #dbf5b3
}
.featR{
background: #dbc9f2
}
.featN{
background: #f0c5e4
}
.featD{
background: #f0c5e4
}
.featC{
background: #f7fac0
}
.featE{
background: #fcc5cd
}
.featQ{
background: #fcc5cd
}
.featG{
background: #e0dede
}
.featH{
background: #addef7
}
.featI{
background: #dbf5b3
}
.featL{
background: #dbf5b3
}
.featK{
background: #dbc9f2
}
.featM{
background: #f7fac0
}
.featF{
background: #dbf5b3
}
.featP{
background: #e0dede
}
.featS{
background: #bff2d0
}
.featT{
background: #bff2d0
}
.featW{
background: #bff2d0
}
.featY{
background: #bff2d0
}
.featV{
background: #dbf5b3
}
.featMOTIFaa{
background: #f00
}
.featMOTIFab{
background: #fb2b00
}
.featMOTIFac{
background: #f65500
}
.featMOTIFad{
background: #f27d00
}
.featMOTIFae{
background: #eda400
}
.featMOTIFaf{
background: #e9c900
}
.featMOTIFag{
background: #dde500
}
.featMOTIFah{
background: #b2e000
}
.featMOTIFai{
background: #89dc00
}
.featMOTIFaj{
background: #61d800
}
.featMOTIFak{
background: #3ad300
}
.featMOTIFal{
background: #15cf00
}
.featMOTIFam{
background: #00ca0e
}
.featMOTIFan{
background: #00c630
}
.featMOTIFao{
background: #00c250
}
.featMOTIFap{
background: #00bd6f
}
.featMOTIFaq{
background: #00b98c
}
.featMOTIFar{
background: #00b5a8
}
.featMOTIFas{
background: #009eb0
}
.featMOTIFat{
background: #007cac
}
.featMOTIFau{
background: #005ca7
}
.featMOTIFav{
background: #003ea3
}
.featMOTIFaw{
background: #00219f
}
.featMOTIFax{
background: #00059a
}
.featMOTIFay{
background: #150096
}
.featMOTIFaz{
background: #2d0092
}
.featMOTIFaA{
background: #44008d
}
.featMOTIFaB{
background: #5a0089
}
.featMOTIFaC{
background: #6e0084
}
.featMOTIFaD{
background: #800080
}
.featDOMAINaa{
background: #f00
}
.featDOMAINab{
background: #fd1500
}
.featDOMAINac{
background: #fb2a00
}
.featDOMAINad{
background: #f93f00
}
.featDOMAINae{
background: #f65400
}
.featDOMAINaf{
background: #f46700
}
.featDOMAINag{
background: #f27b00
}
.featDOMAINah{
background: #f08e00
}
.featDOMAINai{
background: #eea100
}
.featDOMAINaj{
background: #ecb400
}
.featDOMAINak{
background: #e9c600
}
.featDOMAINal{
background: #e7d800
}
.featDOMAINam{
background: #e1e500
}
.featDOMAINan{
background: #cce300
}
.featDOMAINao{
background: #b7e100
}
.featDOMAINap{
background: #a2df00
}
.featDOMAINaq{
background: #8edd00
}
.featDOMAINar{
background: #7ada00
}
.featDOMAINas{
background: #67d800
}
.featDOMAINat{
background: #53d600
}
.featDOMAINau{
background: #41d400
}
.featDOMAINav{
background: #2ed200
}
.featDOMAINaw{
background: #1cd000
}
.featDOMAINax{
background: #0acd00
}
.featDOMAINay{
background: #00cb07
}
.featDOMAINaz{
background: #00c918
}
.featDOMAINaA{
background: #00c728
}
.featDOMAINaB{
background: #00c539
}
.featDOMAINaC{
background: #00c349
}
.featDOMAINaD{
background: #00c158
}
.featDOMAINaE{
background: #00be67
}
.featDOMAINaF{
background: #00bc76
}
.featDOMAINaG{
background: #00ba84
}
.featDOMAINaH{
background: #00b893
}
.featDOMAINaI{
background: #00b6a0
}
.featDOMAINaJ{
background: #00b4ae
}
.featDOMAINaK{
background: #00a8b2
}
.featDOMAINaL{
background: #0098af
}
.featDOMAINaM{
background: #0087ad
}
.featDOMAINaN{
background: #0077ab
}
.featDOMAINaO{
background: #0067a9
}
.featDOMAINaP{
background: #0058a7
}
.featDOMAINaQ{
background: #0049a5
}
.featDOMAINaR{
background: #003aa2
}
.featDOMAINaS{
background: #002ba0
}
.featDOMAINaT{
background: #001d9e
}
.featDOMAINaU{
background: #00109c
}
.featDOMAINaV{
background: #00039a
}
.featDOMAINaW{
background: #0a0098
}
.featDOMAINaX{
background: #170096
}
.featDOMAINaY{
background: #230093
}
.featDOMAINaZ{
background: #2f0091
}
.featDOMAINa0{
background: #3a008f
}
.featDOMAINa1{
background: #45008d
}
.featDOMAINa2{
background: #50008b
}
.featDOMAINa3{
background: #5a0089
}
.featDOMAINa4{
background: #640086
}
.featDOMAINa5{
background: #6e0084
}
.featDOMAINa6{
background: #770082
}
.featDOMAINa7{
background: #800080
}
.featPHOSPH_EXP{
background: #FF0000
}
.featPHOSPH_BYSIM{
background: #FF4000
}
.featPHOSPH_PROB{
background: #FF8000	
}
.featPHOSPH_POT{
background: #FF9800
}
.featPHOSPH_PRED{
background: #FF9F00;
color: #FF0000
}
.featACETYL_EXP{
background: #0000FF
}
.featACETYL_BYSIM{
background: #0090FF
}
.featACETYL_PROB{
background: #00A5FF	
}
.featACETYL_POT{
background: #00BAFF
}
.featNGLYC_EXP{
background: #078207
}
.featNGLYC_BYSIM{
background: #09B009
}
.featNGLYC_PROB{
background: #06D606
}
.featNGLYC_POT{
background: #07F507
}
.featAMID_EXP{
background: #FAF600
}
.featAMID_BYSIM{
background: #EFFC56
}
.featAMID_PROB{
background: #FAFA87	
}
.featAMID_POT{
background: #FAFAAF
}
.featHYDROXY_EXP{
background: #7D4C0B
}
.featHYDROXY_BYSIM{
background: #94611E
}
.featHYDROXY_PROB{
background: #B5803C
}
.featHYDROXY_POT{
background: #DBA967
}
.featMETHYL_EXP{
background: #601385
}
.featMETHYL_BYSIM{
background: #7F31A3
}
.featMETHYL_PROB{
background: #A45EC4
}
.featMETHYL_POT{
background: #C384E0
}
.featOGLYC_EXP{
background: #F002EC
}
.featOGLYC_BYSIM{
background: #F55FF2
}
.featOGLYC_PROB{
background: #F57FF3
}
.featOGLYC_POT{
background: #F2A5F1
}
